@model Koo.Web.Areas.BBS.Models.Post

@{
    ViewBag.Title = "Details";
}
<div class="example">
    <div>
        <canvas height="200"></canvas>
    </div>
</div>

<div class="container">
    <div>
        <div class="grid">
            <div class="row" style="margin-top:0px;">
                <div class="span7">
                    <div class="row" style="margin-top:0px">
                        <div class="span1" style="grid-row-span: 2;">
                            <span class="icon-pictures"></span>
                        </div>
                        <div class="span6" style="">
                            <div>
                                <label title="标题">@Model.Title</label>
                            </div>
                            <div>
                                <label title="发贴人和时间">shayne发表于 @Model.CreateDate</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px">
                        <div class="example text-left">
                            @Model.Content
                        </div>
                    </div>
                    <form action="~/bbs/home/reply" name="relyForm" method="post">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Title)
                        <div class="input-control textarea">
                            <textarea id="Content" name="Content"></textarea>
                            @*<input type="hidden"  id="Id" name="Id"/>@Model.Id*@
                        </div>
                        <div class="row" style="margin-top:5px">
                            <button class="button bg-hover-darkOrange bg-orange">回复</button>
                        </div>
                    </form>
                </div>

                <nav class="light fixed-top" style="height:100px;text-align:center">
                    <ul class="">
                        <li class="margin5 title">
                            <a href="/bbs/home/create" class="button bg-lightOrange bg-active-brown" style="width:100px">发表新贴</a>
                        </li>
                        <li class="margin5">
                            <a href="" class="button bg-lightOrange bg-active-brown" style="width:100px">回复</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
    @section Scripts {
        @Scripts.Render("~/Content/ueditor/ueditor.config.js", "~/Content/ueditor/ueditor.all.js")
        <script type="text/javascript">
            var editorOption = {
                initialFrameWidth: 784,
                initialFrameHeight: 400
            };
            var editor = new baidu.editor.ui.Editor(editorOption);
            editor.render('Content');
            $('form').submit(function () {
                $('#Content').val(editor.getContent());
            });
        </script>
    }

    <p>
        @*@Html.ActionLink("Reply", "Home", new { id = Model.Id }) |*@
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>
