<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="种房网">
    <meta name="description" content="种房网，种下房子就有收获">
    <meta name="author" content="柴培熙">
    <meta name="company" content="上海市融化银天股权投资管理有限公司" />
    <meta name="keywords" content="众筹, 房产, 理财, 投资, 收益">
    <title>@ViewBag.Title</title>
</head>
<body class="metro" style="background-color: #efeae3">
    <section id="scripts">
        <!-- Load Css -->
        @Styles.Render("~/Content/css")
        <!-- Load JavaScript Libraries -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/metro")
        @Scripts.Render("~/bundles/modernizr")
    </section>
    <header class="bg-dark">
        <div class="navigation-bar dark fixed-top">
            <div class="navigation-bar-content container">
                @* below html code config a logo -should be avoid *@
                <a href="/" class="element" style="font-size:22px">
                    种<i class="icon-home on-right on-left"
                        style="background: red;
    color: white;
    padding-left:12px; padding-right:8px; padding-bottom:10px;
    border-radius: 50%"></i>网
                </a>
                @* --end of logo configuration-- *@
                <span class="element-divider"></span>
                <a class="element1 pull-menu" href="#"></a>
                <ul class="element-menu">
                    <li>
                        <a class="element" href="~/Projects/">浏览项目</a>
                    </li>
                    <li>
                        <a class="dropdown-toggle" href="#">支持与帮助</a>
                        <ul class="dropdown-menu dark" data-role="dropdown">
                            <li class="element"><a href="#">了解我们</a></li>
                            <li class="element"><a href="#">如何运作</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="element input-element">
                            @using (Html.BeginForm("Search", "Projects", FormMethod.Get, new { id = "search form" }))
                            {
                            <div class="input-control text">
                                <input name="keyWord" size="42" type="text" placeholder="搜索项目或产品 例如：上海 商业" />
                                <button type="submit" class="btn-search"></button>
                            </div>
                            }
                        </div>
                    </li>

                </ul>
                <ul class="element-menu place-right">
                    <li>
                        <div class="element tile-content icon place-right">
                            @* to-do cart *@
                            <a href="#"><i class="icon-cart-2"></i>(0)</a>
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </header>
    <div class="container" style="padding:50px 20px">
        @RenderBody()
    </div>
    <div class="bg-dark">

        @* footer - copyright *@
        <div class="container page-footer tertiary-text bg-dark fg-white fixed-bottom" style="padding: 10px">
            2014,  &copy;种 房 网 版权所有 ICP备案预留位置
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>