<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="种房网">
    <meta name="description" content="种房网，种下房子就有收获">
    <meta name="author" content="柴培熙">
    <meta name="company" content="上海市融化银天股权投资管理有限公司" />
    <meta name="keywords" content="众筹, 房产, 理财, 投资, 收益">
    <title>@ViewBag.Title</title>
</head>
<body class="metro" style="background-color: #efeae3; font-family:'Microsoft YaHei'">
    <section id="scripts">
        <!-- Load Css -->
        @Styles.Render("~/Content/css")
        <!-- Load JavaScript Libraries -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/metro")
        @Scripts.Render("~/bundles/modernizr")
    </section>
    <header class="bg-dark">
        <div class="navigation-bar dark fixed-top" style="background-color: #26333f">
            <div class="navigation-bar-content container">
                @* below html code config a logo*@
                <ul class="element-menu">
                    <li>
                        <a href="/" class="element" style="height:65px">
                           <img src="/images/logo.png" />
                        </a>
                    </li>
                </ul>
                @* --end of logo configuration-- *@
                <span class="element-divider" style="height:65px"></span>
                <ul class="element-menu">
                    <li>
                        <a class="element" href="~/Projects/Seeding" style="height:65px;align-self:center">壹 号</a>
                    </li>
                    <li>
                        <a class="element" href="~/Projects/" style="height:65px">投 资</a>
                    </li>
                    <li>
                        <a class="element" href="#" style="height:65px">直 售</a>
                    </li>
                    <li>
                        <a class="element" href="#" style="height:65px">交 易</a>
                    </li>
                    <li>
                        <div class="element input-element" style="height:65px">
                            @using (Html.BeginForm("Search", "Projects", FormMethod.Get, new { id = "search form" }))
                            {
                                <div class="input-control text">
                                    <input name="keyWord" size="42" type="text" placeholder="请输入关键字 例如：上海 商业" />
                                    <button type="submit" class="btn-search"></button>
                                </div>
                            }
                        </div>
                    </li>

                </ul>
                <ul class="element-menu place-right">
                    <li>
                        <div class="element tile-content icon place-right" style="height:65px">
                            @* 购物车 *@
                            @Html.Partial("_CartPartial")
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </header>
    <div style="padding-top:65px">
        @RenderBody()
    </div>
    <div class="fixed-bottom">
        @* footer - copyright *@
        <div class="container page-footer tertiary-text fg-white fixed-bottom" style="padding: 10px">
            2014,  &copy;种 房 网 版权所有 沪ICP备14032159号
        </div>
        @* end of footer *@
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>