@model Koo.Web.Models.LoginViewModel

@{
    ViewBag.Title = "登录";
}

<div class="row">
    <div class="example">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h4>使用种房网账号登录</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="input-control text span4">
                        @Html.TextBoxFor(m => m.UserName, new { @placeholder = "手机/用户名/电子邮件" })
                        @*<input type="text" name="" value="" placeholder="手机/用户名/电子邮件" />*@
                        <button class="btn-clear"></button>
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                @*<div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>*@
                @*<div class="form-group">*@
                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                <div class="row">
                    <div class="input-control password span4">
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "密码" })
                        <button class="btn-reveal"></button>
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                @* </div>*@
                <div class="form-group">
                    <div class="row">
                        <div class="input-control switch">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @*<input type="checkbox" name="" />*@
                                <span class="check"></span>
                            </label>
                           @Html.LabelFor(m => m.RememberMe)
                           @* @Html.CheckBoxFor(m => m.RememberMe)*@
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="登录" class="button primary" />
                    @*<div class="col-md-offset-2 col-md-10">
                    </div>*@
                </div>
                <p>
                    @Html.ActionLink("注册", "Register")
                </p>
            }
        </section>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}