@model Koo.Web.Models.RegisterViewModel
<div class="container">
    <div class="example text-center">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h4>创建新帐户</h4>
            <hr />
            @Html.ValidationSummary()
            <div class="form-group">
                @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })*@
                <div class="input-control text span4">
                    @Html.TextBoxFor(m => m.UserName, new { @placeholder = "手机号、用户名或电子邮件地址" })
                    <button class="btn-clear"></button>
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                <div class="input-control password span4">
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "密码" })
                    <button class="btn-reveal"></button>
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                <div class="input-control password span4">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "确认密码" })
                    <button class="btn-reveal"></button>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <input type="submit" class="button primary" value="注册" />
                </div>
            </div>
        }
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>