@model IEnumerable<Koo.Web.Models.CartItem>
<div class="container">
    <h3>购物车</h3>
    @if (Model.Count() == 0)
    {
        <div class="row"><h3>没有任何商品。点击<a href="~/projects/">浏览项目</a></h3></div>
    }
    else
    {
        <script type="text/javascript">
            function removeCartOnSuccess(context) {
                if (context.Success) {
                    $("#cart").html('<i class="icon-cart-2"></i> (' + context.Count + ')');
                    var cartitemId = "#" + context.CartItemId;
                    $(cartitemId).hide();
                    $("#cartSummary").html('合计金额 ： ￥ ' + context.TotalAmount);
                    $.Notify({ timeout: 5000, caption: "提示", content: "移除成功！", shadow: true, style: { background: '#1ba1e2', color: 'white' } });
                } else {
                    $.Notify({ timeout: 5000, caption: "警告", content: "无法移除！", shadow: true, style: { background: '#1ba1e2', color: 'white' } });
                }
            }
        </script>
        
        var i = 0;
        float totalAmount = 0;

        foreach (var item in Model)
        {
            i++;
            <div id=@i.ToString()>
                <div class="example">
                    <a href="~/Projects/Details/@item.Project.Id" data-click=" transform">
                        <div class="tile double">
                            <div class="tile-content image" data-click="transform">
                                <img src="~/images/@item.Project.CoverImageUrl">
                            </div>
                            <div class="brand bg-dark opacity">
                                <span class="text">
                                    @* enable the html tag *@
                                    @Html.Raw(item.Project.ShortDescription)
                                    @* end of enable *@
                                </span>
                            </div>
                        </div>
                    </a>
                    <h4>@item.Project.Title</h4>
                    <div class="rating small fg-green"
                         data-role="rating"
                         data-static="false"
                         data-score="@item.Project.RatingValue"
                         data-stars="5"
                         data-show-score="false">
                    </div>
                    <span class="text">
                        支持金额: ￥ @item.Amount
                    </span>

                    @{totalAmount += float.Parse(item.Amount);}
                    @using (Ajax.BeginForm("Remove", "Cart", new AjaxOptions { HttpMethod = "Post", Confirm = "确认要将此 " + item.Project.Title + " 从购物车中移除？", OnSuccess = "removeCartOnSuccess" }))
                    {
                        @Html.AntiForgeryToken();
                        <input name="cartItemViewId" value=@i.ToString() type="hidden" />
                        <input name="Id" value=@item.ProjectId type="hidden" />
                        <input name="amount" value=@item.Amount type="hidden" />
                        <button class="bg-darkRed fg-white place-top-right" title="从购物车中移除"><b>-</b></button>
                    }
                </div>
            </div>
        }

        //<div id="cartSummary">
        <div class="example">
            <h3 class="place-right" id="cartSummary"> 合计金额 ： ￥ @totalAmount</h3>
        </div>
        //</div>
        <div class="example">
            <div class="row padding10">
                <button class="bg-green fg-white place-top-right large" title=""><h3> 结 账 </h3></button>
                <h3>支付平台选择</h3>
                <hr />
            </div>

        </div>
    }
</div>