@model Koo.Web.Models.Project

@{
    ViewBag.Title = Html.DisplayTextFor(m => m.Title);
}
<div style="padding-top:50px"></div>
<div class="container">
    <div class="example">
        <div class="grid">
            <div class="row">
                <div class="span8">
                    <h3>@Html.DisplayFor(model => model.Title)</h3>
                    <hr />
                    <div class="tab-control" data-role="tab-control">
                        <ul class="tabs">
                            <li class="active"><a href="#_page_1">项目主页</a></li>
                            <li><a href="#_page_2">话题(102)</a></li>
                            <li><a href="#_page_3"><i class="icon-thumbs-up">已支持人(20)</i></a></li>
                            @*<li><a href="#_page_4"><i class="icon-cog"></i></a></li>*@
                            <li class="place-right">
                                <div class="jiathis_style">
                                    <a class="jiathis_button_qzone"></a>
                                    <a class="jiathis_button_tsina"></a>
                                    <a class="jiathis_button_tqq"></a>
                                    <a class="jiathis_button_weixin"></a>
                                    <a class="jiathis_button_renren"></a>
                                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                                    <a class="jiathis_counter_style"></a>
                                </div>
                            </li>
                        </ul>
                        <!-- JiaThis Button BEGIN -->
                        <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1399257428543305" charset="utf-8"></script>
                        <!-- JiaThis Button END -->
                        <div class="frames">
                            <div class="frame" id="_page_1">
                                @* display the description of project with html tags *@
                                @Html.Raw(Html.DisplayTextFor(m => m.Description))
                                @* end of display the description of project *@
                            </div>
                            <div class=" frame" id="_page_2">
                                <div class="input-control textarea">
                                    <textarea>...</textarea>
                                </div>
                                <div class="place-right">请 <a href="#">登录</a> 后评论</div>
                                <hr />
                            </div>
                            <div class="frame" id="_page_3">...</div>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="row">
                        <button class="large primary">支 持 <span class="icon-thumbs-up" /></button>
                        <button class="large warning">喜 欢 <span class="icon-heart-2" /></button>
                    </div>
                    <nav class="sidebar light">
                        <ul>
                            <li class="title bg-active-blue">项目状态</li>
                            <li class="active"></li>
                            <li class="stick bg-red"><a href="#"><i class="icon-rocket"></i>目标:￥38,479,848</a></li>
                            <li class="stick bg-green"><a href="#" class="bg-hover-lightGreen"> <i class="icon-loading-2"></i>已达成目标：80%<div class="progress-bar" data-role="progress-bar" data-value="80" data-color="ribbed-cyan"></div></a></li>

                            <li class="stick bg-yellow">
                                <a class="dropdown-toggle" href="#"><i class="icon-tree-view"></i>支持 ￥50,000</a>
                                <ul class="dropdown-menu" data-role="dropdown">
                                    <li><div class="example">所获得支持回报描述</div></li>
                                    <li><a href="">支持 <span class="icon-thumbs-up" /></a></li>
                                </ul>
                            </li>
                            <li class="stick bg-yellow">
                                <a class="dropdown-toggle" href="#"><i class="icon-tree-view"></i>支持 ￥150,000</a>
                                <ul class="dropdown-menu" data-role="dropdown">
                                    <li><div class="example">所获得支持回报描述</div></li>
                                    <li><a href="">支持 <span class="icon-thumbs-up" /></a></li>

                                </ul>
                            </li>
                            <li class="stick bg-yellow">
                                <a class="dropdown-toggle" href="#"><i class="icon-tree-view"></i>支持 ￥250,000</a>
                                <ul class="dropdown-menu" data-role="dropdown">
                                    <li><div class="example">所获得支持回报描述</div></li>
                                    <li><a href="">支持 <span class="icon-thumbs-up" /></a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="padding-bottom:20px"></div>
@*<div>
        <h4>Project</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShortDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>
    </div>*@

